// 初始化页面——去掉白边
html,body {
  margin: 0;
  padding: 0;
}

// position: relative; —— 固定位置
.main-panel {
  border: 1px solid rgba(0, 214, 255, 0.3);
  background: rgba(0, 214, 255, 0.1);
  position: relative;
  box-sizing: border-box;
  padding: 0rem 0.125rem 0.125rem 0.125rem;
  margin-bottom: 0.1875rem;

  // 边框的四个直角
  .panel-border-top {
  
    // 边框的四个直角——左上角
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 14px;
      height: 14px;
      border-top: 3px solid #00FFFC;
      border-left: 3px solid #00FFFC;
      content: '';
    }
    
    // 边框的四个直角——右上角
    &::after {
      position: absolute;
      right: 0;
      top: 0;
      width: 14px;
      height: 14px;
      border-top: 3px solid #00FFFC;
      border-right: 3px solid #00FFFC;
      content: '';
    }
  
    .panel-border-bottom {
    
      // 边框的四个直角——左下角
      &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 14px;
        height: 14px;
        border-bottom: 3px solid #00FFFC;
        border-left: 3px solid #00FFFC;
        content: '';
      }
    
      // 边框的四个直角——右下角
      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 14px;
        height: 14px;
        border-bottom: 3px solid #00FFFC;
        border-right: 3px solid #00FFFC;
        content: '';
      }
    }
  }
}

// 字体类型1
.font-one {
  font-size: 0.6rem;
  font-family: DINPro;
  font-weight: 500;
  color: #00C8C6;
}